@import url("webfonts/ERASBD/stylesheet.css");
.menutop {
	overflow: hidden;
	text-align: center;
	border-width: medium;
	border-style: solid;
	background-color: #FFCC5C;
}


.menutop a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	/* [disabled]text-transform: none; */
	border: medium solid #000000;
	background-color: #5c85ff;
}


.menutop a:hover {
    background-color: #ff6f69;
    color: black;
}
.footer {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
	font-size: small;
}


.menutop a.active {
    background-color: #4CAF50;
    color: white;
}

.divcenter {
	margin: 0 auto;
	display: inline-block;
}
.title {
	text-decoration: none;
	font-style: normal;
	color: #0A0606;
	background-color: #5C85FF;
	text-align: center;
	font-family: ERASBD;
	font-size: xx-large;
	font-weight: 900;
	border-top-width: medium;
	border-top-style: solid;
	border-bottom-width: medium;
	border-bottom-style: solid;
}

body {
	background-color: #88d8b0;
}
.sandpic {
	float: left;
	text-align: center;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
}
.bodybox h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: left;
	font-size: x-large;
}

.bodybox {
	overflow: hidden;
	text-align: center;
	border-width: medium;
	border-style: solid;
	margin: 40;
	background-color: #FFCC5C;
}
.bodybox p {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin: 20;
	padding: 20;
	text-align: left;
}
